<div class="flex justify-end gap-2 p-2">
  <p>Gmail</p>
  <p>images</p>
</div>
<div class="px-20">
<div class="md:flex-text-4xl flex justify-center font-sans md:text-[150px] text-[60px]">
  <span class="text-[#4285F4]">G</span>
  <span class="text-[#DB4437]">o</span>
  <span class="text-[#F4B400]">o</span>
  <span class="text-[#4285F4]">g</span>
  <span class="text-[#0F9D58]">l</span>
  <span class="text-[#DB4437]">e</span>
</div>

<div class="w-50 justify-cente mt-4 flex rounded-full border px-8 mx-6 shadow-md">
 
  <input type="search" name="" id="" class="h-10 w-[800px] caret-blue-500 outline-gray-300 " placeholder="Search a Google or type URL here " />
</div>

<div class="mt-4 flex justify-center gap-4">
  <div class="h-20 w-20 rounded-lg border bg-white text-center text-black-100 hover:bg-slate-300 border-white">
   <a href=""> <p class="mt-10">Youtube</p> </a> 
  </div>

  <div class="h-20 w-20 rounded-lg border bg-white text-center text-white hover:bg-slate-300">
    <p class="mt-10">Youtube</p>
  </div>

  <div class="h-20 w-20 rounded-lg border bg-white text-center text-white hover:bg-slate-300">
    <p class="mt-10">Youtube</p>
  </div>

  <div class="h-20 w-20 rounded-lg border bg-white text-center text-white hover:bg-slate-300">
    <p class="mt-10">Youtube</p>
  </div>
</div>
</div>